_________ .__                __
\_   ___ \|  | _____ _______|  | __  ______
/    \  \/|  | \__  \\_  __ \  |/ / /  ___/
\     \___|  |__/ __ \|  | \/    <  \___ \
 \______  /____(____  /__|  |__|_ \/____  >
        \/          \/           \/     \/
__________        .__
\______   \_____  |  | _____    ____  ____
 |     ___/\__  \ |  | \__  \ _/ ___\/ __ \
 |    |     / __ \|  |__/ __ \\  \__\  ___/
 |____|    (____  /____(____  /\___  >___  >
                \/          \/     \/    \/

  {{ ansible_distribution }} {{ ansible_distribution_version }} - Clarks Palace {{ palace_version }}

  Last configuration changes: {{ ansible_date_time.date }}, {{ ansible_date_time.time }}
